.contacto_title {
  color: $primary-color;
  text-align: center;
  font-size: 40px;
  background-color: white;
  padding: 10px;
  border: 3px double black;
}

.contacto_card {
  margin: 30px;
  width: 50%;
}

.contacto_name {
  font-size: 20px;
  margin-bottom: 5px;
}

.contacto_box {
  margin-bottom: 10px;
}

textarea {
  width: 400px;
}

.contacto_img {
  max-width: 100%;
}

@media (min-width: 760px) {
  .contacto_container {
    display: flex;
  }

  .contacto_title {
    color: $primary-color;
    text-align: center;
    font-size: 40px;
    background-color: white;
    padding: 10px;
    border: 3px double black;
  }

  .contacto_card {
    margin-left: 100px;
    width: 50%;
  }

  .contacto_name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .contacto_box {
    margin-bottom: 11px;
  }

  .form__mensaje {
    margin-top: 20px;
  }

  textarea {
    width: 400px;
    border-radius: 10px;
  }

  .contacto_img {
    width: 500px;
    height: 300px;
    margin-right: 200px;
    border-radius: 10%;
  }
}
